  /* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Navigation */
  
  .navbar {
    /* border-bottom: #ff6633 1px solid; */
  }
  
  .arek {
    font-family: Proxima Nova;
    font-size: 24px;
    font-weight: 600;
    color: #ff6633;
    margin-left: 40px;
    
  }
  
  .navbar-menu {
    justify-content: flex-end;
    margin-right: 40px;
    font-family: Proxima Nova;
    font-size: 20px;
    font-weight: 600;
  
  }
  
  .button.is-primary {
    background-color: #ff6633;
  }
  
  .button.is-primary:hover {
    background-color: #ff8c66;
  }
  
  
  /* Footer */

.footer {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-content: center;
  background-color: #ff6633;
  height: 300px;
  margin-top: -60px;
}
  
.content.has-text-centered{
  margin-top: 50px;
}

#footer-text {
  color: white;
  font-family: Proxima Nova;
}
  
  
  