/* Hero */
  
  .hero-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* grid-row-gap: 10px; */
    width: 1440px;
    align-items: center;
    background-color: #ffffff;
    justify-items: center;
  }
  
  .hero-container > div {
    height: 40px;
  }

  .hero-headline {
    font-family: monospace;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: #000000;
    margin-top: 40px;
  }
  
  .hero-subtext {
    font-family: monospace;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #000000;
    margin-top: 20px;
  }
  
  
  /* About */
  
  .about-container {
    display: flex;
    justify-items: center;
    background-color: #d84b27;
    margin-top: 300px;
    padding: 50px;
    
  }  
  
  .about-text {
    font-family: monospace;
    text-align: center;
    color: #ffffff;
    padding-left: 200px;
    padding-right: 200px;
  }
  
  /* Skills */

  .skills-container{
    justify-content: center;
    padding: 50px;
    text-align: center;
  }
  
  .skill{
    background-color: #4a4a4a;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 40px;
    margin: 40px;
    font-family: monospace;
  }
  

  /* Projects */

  .project-container{
  padding: 40px;
  margin: 60px;
  text-align: center;
  }

  .card {
    margin: 30px;
    border-radius: 5px;
  }

  .image {
    border-radius: 5px;
  }

  /* .projects > div{
    background-color: #4a4a4a;
    color: white;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 40px;
  } */

/* Footer */

  .footer{
    background-color: #d84b27;
    color: white;
    font-family: monospace;
  }

  .social-media{
    color:white;
    background-color: #4a4a4a;
  }

  .social-media:hover{
    color: #d84b27;
    }