/* Hero */
  
  .hero-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* grid-row-gap: 10px; */
    width: 1440px;
    align-items: center;
    background-color: #ffffff;
    justify-items: center;
  }
  
  .hero-container > div {
    height: 40px;
  }

  .hero-headline {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: #000000;
    margin-top: 40px;
  }
  
  .hero-subtext {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #000000;
    margin-top: 20px;
  }
  
  .hero-illustration {
    /* height: auto;
    margin-top: 40px; */
  }
  
  /* About */
  
  .about-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-color: #ffffff;
    justify-items: center;
    background-color: #ff6633;
    margin-top: 300px;
    padding: 2%;
    
  }

  .about-container > div {
    width: 60%;
    padding: 20px;
  }
  
  .about-title { 
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
  
  }
  
  .about-text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
  }
  
  /* Services */
  
  .services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    /* grid-column-gap: -10px; */
    justify-items: center;
    gap: 30px;
    /* justify-content: center; */
    
  }

  /* .services-container > div {
    width: 350px;
    height: 500px;
    margin: 40px;

  } */

  .services-headline {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #4a4a4a;
    margin-bottom: 40px;
  }
    /* Research */
  
  .research-container {
    width: 350px;
    height: 500px;
    border-radius: 10px;
    /* border: solid 1px #979797; */
    background-color: #4a4a4a;
    justify-content: center;
    padding: 50px;
    /* margin-left: 13%; */
    grid-column: 1;
  }
  
  .research-headline {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
  }
  
  .research-text {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
  }
  
  .research-list {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
  }
  
  /* Design */
  
  .design-container {
    width: 350px;
    height: 500px;
    border-radius: 10px;
    /* border: solid 1px #979797; */
    background-color: #4a4a4a;
    padding: 50px;
    grid-column: 2;
  }
  
  .design-headline {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
  }
  
  .design-text {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
  }
  
  .design-list {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
  }
  
  /* Development */
  
  .development-container {
    width: 350px;
    height: 500px;
    border-radius: 10px;
    /* border: solid 1px #979797; */
    background-color: #4a4a4a;
    padding: 50px;
    /* margin-right: 12%; */
    grid-column: 3;
  }
  
  .development-headline {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
  }
  
  .development-text {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
  }
  
  .development-list {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
  }
  
  /* Projects */

  .projects-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    padding: 50px;
    height: 600px;
    margin-top: -20px;
  }

  .projects-grid > div {
    border-radius: 10px;
    background-color: #4a4a4a;
    width: 350px;
    height: 200px;
    margin-top: 10px;
  }

  .projects-headline {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #4a4a4a;
    margin-top: 40px;
  }

  #project-box-text {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
  }

  /* Start A Project */
  
  .contact-container {
    display: grid;
    justify-content: center;
  }

  .contact-box {
    width: 1100px;
    border-radius: 10px;
    background-color: #4a4a4a;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    padding: 50px 50px 25px 50px;
  }
  
  .contact-headline {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    justify-content: center;
    align-self: center;
  }
  
  .contact-text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    justify-content: center;
    align-self: center;
  }

  .contact-button {
    padding: 5px;
    width: 150px;
    height: 50px;
    left: 80px;
  }
  
/* Footer */

.footer {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-content: center;
  background-color: #ff6633;
  height: 300px;
  margin-top: -60px;
}
  
#footer-text {
  color: white;


}
  
  
  
  
  